@import "../config/Config.scss";

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $colorSecondary;
  align-items: center;
  justify-content: center;
  & > .logo {
    flex: 1;
    margin-left: 10%;
    color: white;
  }
  & > .buttons {
    display: flex;
    flex: 1;

    margin-right: 10%;

    & > .pages {
      display: flex;
      background-color: white;
    }
  }
}
