**/.env
**/.envrc



# Folder view configuration files
**/.DS_Store
**/Desktop.ini


# IDEs
*.iml
.idea/
.vscode/

**/*.iml
**/.idea/
**/.vscode/


# Node files
**/npm-error.log
**/yarn-error.log
**/npm-debug.*
**/node_modules/
**/node_modules/**/*

**/node_modules/
**/node_modules/**/*


# Thumbnail cache files
._*
Thumbs.db

# WebAssembly
.emsdk