@import "../../../../config/Config.scss";

menu.NavMenuDashboard {
  margin: 0 0 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  animation-fill-mode: forwards;
  @include fade-in(300ms, 200ms);

  & > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: $sizeButtonHeight;

    & > .Edge {
      z-index: 2;
      & > svg {
        fill: #ffffff;
        transition: fill 0.2s;
      }
      &.left {
        order: 1;
      }
      &.right {
        order: 3;
      }
    }

    & > .divider {
      height: 100%;
      width: 9px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      order: 2;

      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        height: 70%;
        width: 1px;
        background-color: $colorBorder;
      }
    }

    & > .item {
      order: 2;
      z-index: 3;
      height: 100%;
      background-color: #ffffff;
      transition: background-color 0.2s;

      &:hover {
        background-color: #eeeeee;
        transition: background-color 0.2s;

        &:first-child {
          & ~ .edge.left {
            & > svg {
              fill: #eeeeee;
              transition: fill 0.2s;
            }
          }
        }
      }

      & > .content,
      & > .content > .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        & > .icon {
          width: 20px;
          margin-right: 6px;
          & > i {
            font-size: 15pt;

            color: $colorPrimary;
          }
        }
        & > p {
          color: $colorDark;
          font-size: 11pt;
          font-weight: 500;
        }
      }

      &.profile {
        & > .content {
          height: calc(100% - 2 * 4px);
          padding: 4px 0px 4px 8px;

          & > .edge {
            & > svg {
              fill: $colorSecondary;
            }
            &.right {
              margin-right: -12px;
            }
          }
          & > .container {
            height: 100%;
            padding: 0 8px;
            background-color: $colorSecondary;

            & > p,
            & > .icon > i {
              color: #ffffff;
            }
          }
        }
        &:hover {
          background: #ffffff;
          & > .content {
            & > .edge > svg {
              fill: darken($colorSecondary, 10%);
              transition: fill 0.2s;
            }
            & > .container {
              background-color: darken($colorSecondary, 10%);
              transition: background-color 0.2s;
            }
          }
        }
      }
    }
  }
}
