@import "../../../base/config/Config.scss";

.Dashboard {
  @include Page;

  & > header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include Container;

    & > .content {
      flex-direction: column;
      align-items: flex-start;
      padding: calc(#{$sizeNavHeight} + 45px) $sizeCanvasPaddingDashboard $sizeCanvasPaddingDashboard
        $sizeCanvasPaddingDashboard;

      & > .illustration {
        margin-top: 100px;
        position: absolute;
        right: -$sizeCanvasPaddingDashboard;
        height: 180px;
        object-fit: contain;
      }

      & > .title {
        margin-bottom: 45px;
        & > h1 {
          font-size: 26pt;
          color: $colorDark;
          font-weight: 600;
          & > span {
            color: $colorPrimary;
          }
        }
      }

      &.stats {
        & > .cards {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 20px;
          padding-bottom: 40px;
          border-bottom: 1px solid #eee;

          .statCardButton {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 6px 10px;
            border-radius: 2px;
            background: rgba(#fff, 0.05);
            transition: background 200ms;
            cursor: pointer;
            user-select: none;
            &:hover,
            &:active {
              background: rgba(#fff, 0.1);
              transition: background 200ms;
            }

            & > .title {
              font-size: 10pt;
              font-weight: 500;
              color: #ffffff;
              margin: 0 8px 0 0;
              user-select: none;
            }
            & > .icon {
              & > i {
                width: 18px;
                color: #ffffff;
                font-size: 14pt;
                transition: color 200ms;
              }
              margin-right: 6px;
            }
          }

          .statCardPlayers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 6px 0;
            & > .title {
              font-size: 11pt;
              font-weight: 600;
              font-family: $fontSecondary;
              color: $colorPrimary;
              margin: 0;
            }
          }
        }
      }
    }

    & > .underlay {
      position: absolute;
    }
  }

  & > .content {
    padding-top: 0;
    & > .top {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      & > .title {
        flex: 1;
        & > h2 {
          font-size: 18pt;
          color: $colorDark;
          font-weight: 600;
        }
      }
      & > .actions {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    &.self,
    &.playground {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      & > .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;

        & > .loading,
        & > .empty {
          grid-column: span 2;
          padding: 0;
          p {
            margin: 0;
          }
          div[role="progressbar"] {
            color: $colorDark;
          }
        }
      }
    }
  }
}
